.content {
  justify-content: center;
  margin: 0px;
  font-size: 15px;
  width: 100%;
}

.detail_image {
  position: relative;
  top: 50px;
  z-index: -1;
  width: 1425px;
}

.movie_title {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 90px;
  z-index: -1;
  left: 28px;
}

.movie_trailer {
  position: absolute;
  z-index: -1;
  top: 300px;
  left: 400px;
}

.movie_poster_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  top: 750px;
  z-index: -1;
  position: absolute;
  padding: 10px 40px;
}

.trailer_btn {
  border-radius: 0.5em;
  height: 55px;
  width: 400px;
}

.movie_poster_desc {
  color: white;
}
.category_title {
  padding-top: 40px;
}

.movie_section {
  text-align: initial;
  height: 700px;
  background-color: #f0f0f3;
  margin-top: 50px;
}

.movie_about {
  padding-top: 20px;
  padding-left: 50px;
}

.movieInfo {
  background-color: white;
  padding: 20px 10px;
  border-radius: 0.5em;
  width: 500px;
  z-index: 10;
  margin: 50px;
}

.title {
  margin: 0px;
  padding-left: 5px;
}
.genre_list {
  display: flex;
  list-style: none;
  bottom: 20px;
  color: #707070;
  padding: 0px;
}

.genre_list li {
  padding-left: 5px;
}

.desc {
  color: #707070;
  padding-left: 5px;
}

.desc_more {
  color: blue;
}

.info_section_parent {
  display: flex;
}

.info_section_child {
  margin: 20px 40px;
  padding: 5px 10px;
  font-size: 13px;
}

.info_section p {
  padding-left: 5px;
}

.info_answer {
  color: #707070;
}

.desc_more_screen {
  padding: 10px;
}
