.loadMsg {
  margin: 90px 10px;
  padding: 10px;
}

.category_name {
  position: absolute;
  top: 65px;
  left: 40px;
}

.container_wrap {
  position: relative;
}

.leftArrow {
  position: absolute;
  left: 0px;
  top: 100px;
  margin: 0px 10px;
  border-style: none;
  background-color: white;
  font-size: larger;
}

.rightArrow {
  position: absolute;
  right: 0px;
  top: 100px;
  margin: 0px 10px;
  border-style: none;
  background-color: white;
  font-size: larger;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  margin: 100px 30px;
  padding: 10px;
  width: 1365px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.movie_content {
  /* overflow: hidden; */
}

.movie_content_img {
  padding: 0px;
  margin: 20px 10px 0px 10px;
  width: 253px;
  border-radius: 0.7em;
}
.movie_content_title {
  font-size: 15px;
  padding: 0px;
  margin: 0px 10px;
}

.movie_content_year {
  font-size: 10px;
  color: darkgray;
  padding: 0px;
  margin: 0px 10px;
}
