.loadMsg {
  margin: 90px 10px;
  padding: 10px;
}

.category_name {
  position: absolute;
  top: 65px;
  left: 60px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 40px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}

.movie_content_img {
  padding: 0px;
  margin: 20px 10px 0px 10px;
}
.movie_content_title {
  font-size: 15px;
  padding: 0px;
  margin: 0px 10px;
}

.movie_content_year {
  font-size: 10px;
  color: darkgray;
  padding: 0px;
  margin: 0px 10px;
}
