.search_input {
  text-align: center;
  padding-top: 20px;
}

input {
  border: none;
  font-size: 17px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.underlined {
  background-color: black;
  width: 440px;
  display: inline-block;
  height: 2px;
  position: absolute;
  top: 100px;
  left: 490px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 20px 10px;
  padding: 10px;
}

.search_result {
  position: relative;
}
.search_result:hover .search_img {
  opacity: 0.4;
}

.search_result:hover .search_title {
  opacity: 1;
}

.search_img {
}

.search_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
}
