.movie_content_img {
  padding: 0px;
  margin: 20px 10px 0px 10px;
  width: 253px;
  border-radius: 0.7em;
}
.movie_content_title {
  font-size: 15px;
  padding: 0px;
  margin: 0px 10px;
}

.movie_content_year {
  font-size: 10px;
  color: darkgray;
  padding: 0px;
  margin: 0px 10px;
}
