.content {
  box-sizing: border-box;
  text-align: center;
  background-color: aliceblue;
  border-radius: 1em;
  margin: 10px;
  font-size: 15px;
}

.content_img {
  margin-top: 20px;
}

.genre_list {
  display: flex;
  list-style: none;
  bottom: 20px;
  color: darkgray;
}
