nav {
  display: flex;
  background-color: black;
  top: 0px;
  width: 100%;
  position: fixed;
}

.nav_a {
  text-decoration: none;
  padding: 20px;
  color: white;
}
.nav_a:hover {
  color: rgba(255, 255, 255, 0.5);
}
