nav {
  display: flex;
  background-color: black;
  top: 0px;
  width: 100%;
  position: fixed;
  height: 50px;
  align-items: center;
}

.nav_list a {
  text-decoration: none;
  color: white;
}

.nav_list a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav_list::marker {
  margin: 0px !important;
}
