nav {
  display: flex;
  background-color: black;
  top: 0px;
  width: 100%;
  position: fixed;
  height: 55px;
  align-items: center;
  z-index: 10;
}

.nav_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  list-style-type: none;
}

.nav_list {
  padding: 20px;
}

.nav_list a {
  text-decoration: none;
  color: white;
}

.search_input {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
}

.search_input input {
  background-color: black;
  border-style: groove;
  border-color: white;
  border-radius: 0.3em;
  color: white;
  padding-left: 27px;
}

.search_button {
  position: absolute;
  color: white;
  right: 144px;
  color: #a3a3a3;
}

.nav_list a:hover {
  color: rgba(255, 255, 255, 0.5);
}
